.news-container {
  padding: 1rem;
  background-color: rgb(195, 195, 195)
}

table {
  width: 100%;
}

td {
  background-color: rgb(180, 180, 180);
  padding: 10px;
}

.news-number {
  margin-right: 10px;
  font-weight: normal;
  font-size: 12px;
}

.news-header {
  font-size: 14px;
}

.news-header .news-title {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.news-url {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.ask-header {
  font-size: 14px;
}

.ask-header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.news-body {
  margin-bottom: 5px;
  font-size: 12px;
}

.item-body {
  font-size: 14px;
}

.item-info {
  font-size: 12px;
  margin-bottom: 5px;
}

.comment-container {
  background-color: rgb(165, 165, 165);
  margin: 10px 0;
  padding: 5px;
  line-height: 2;
}

.comment-info {
  font-size: 12px;
}

.comment-body {
  font-size: 14px;
}

.news-index {
  width: 140px;
  margin: 0 auto;
}

.news-index button {
  background-color: inherit;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.newest-index {
  padding: 5px;
  width: 140px;
  margin: 0 auto;
}

.newest-index button {
  background-color: inherit;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.news-loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189,189,189 ,0.25);
  border-left-color: rgba(3,155,229 ,1);
  border-top-color: rgba(3,155,229 ,1);
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
	from {
    	transform: rotate(0deg)
    }
    to {
    	transform: rotate(360deg)
	}
}